@import 'tailwindcss/tailwind.css';

body{
    font-family: "inter", sans-serif;
}
h1,h2,h3,h4,h5,h6 {
    color: white;
}
p{
    color: white;
    opacity: 0.7;
}
.my-container{
    max-width: 1200px;
    margin: 0 auto;
}